<form action="/payment/results" method="post">
  <label for="user_apr">APR</label>
  <input type="text" name="user_apr" id="user_apr">

  <label for="user_years">Number of years</label>
  <input type="text" name="user_years" id="user_years">

  <label for="user_principal">Principal</label>
  <input type="text" name="user_principal" id="user_principal">

  <button type="submit">Calculate monthly payment</button>
</form>
