<form action="/random/results" method="post">
  <label for="user_min">Minimum</label>
  <input type="text" name="user_min" id="user_min">

  <label for="user_max">Maximum</label>
  <input type="text" name="user_max" id="user_max">

  <button type="submit">Pick random number</button>
</form>
