<form action="/square/results" method="post">
  <label for="user_number">Enter a number</label>
  <input type="text" name="user_number" id="user_number">

  <button type="submit">Calculate square</button>
</form>
